@font-face {
    font-family: 'Norse';
    src: url('assets/font/Norse-Bold.woff2') format('woff2'),
        url('assets/font/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.page {
    display: flex;
    /* background-color: rgba(217, 217, 217, 0.616); */
    background-color: #f6f6f6;
}

.image-container {
    position: relative;
}

.image-container > img {
    width: 35vw;
}

.logo-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    /* opacity: 0.1; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    top: 125px;
}

.logo-container > img {
    height: 70px;
}

.logo-text {
    font-family: 'Norse';
    font-size: 3rem;
    color: white;
}

.image-credit {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 12px;
    font-size: 0.7rem;
    color: rgba(248, 248, 248, 0.8);
}

.header-text {
    font-weight: bolder;
    width: 80%;
    margin-top: 75px;
    font-size: 1.3rem;
    margin-bottom: 20px;
    padding: 35px;
}

.header-text p:nth-child(3) {
    margin-top: 15px;
}

.header-text span {
    font-style: italic;
}

.form-section {
    background-color: white;
    padding: 10px 300px 20px 35px;
}

.form-title {
    font-weight: bolder;
    font-size: 1.3rem;
    margin-bottom: 15px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-row p {
    display: flex;
    flex-direction: column;
}

.form-row input {
    width: 190px;
    padding: 1px 5px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #e5e7eb;
}

.form-row input:focus {
    border: 1px solid blue;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
    outline: none;
}

.form-row input[type="password"]:invalid {
    border: 1px solid red;
}

.form-row label {
    font-size: 0.7rem;
    font-weight: 700;
    color: grey;
    letter-spacing: 1px;
}

.submit-button, .log-in {
    padding-left: 35px;
    margin-top: 25px;
}

button {
    padding: 9px 45px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    color: white;
    background-color: #596D48;
    font-weight: bold;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
    cursor: pointer;
}

button:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    background-color: rgb(0, 100, 0);
}

.log-in a {
    text-decoration: none;
    color: green;
}